
.Register, .Signin{
  display: grid;
  justify-content: center;
  margin-top: 2em;
}


.menu-body{
  display: flex;
  flex-flow: row;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  background-color: gray;
  -webkit-box-shadow: 0.2em 0.2em 1em 0 #a9b1be;
  -moz-box-shadow: 0.2em 0.2em 1em 0  #a9b1be;
  box-shadow: 0.2em 0.2em 1em 0  #a9b1be;
  height: max-content;
}

.deal{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 90vh;
}
.dealimg{
  height: 90vh;
  padding: 0.5rem;

}

.food-card{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: auto;
  }

.food{
  background-color: white;
  margin: 2em 2em 2em 2em;
  padding: 1em;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  color: rgb(3, 3, 3);
  -webkit-box-shadow: 0.2em 0.2em 1em 0 #cacccf;
  -moz-box-shadow: 0.2em 0.2em 1em 0  #cacccf;
  box-shadow: 0.2em 0.2em 1em 0  #cacccf;
  border-width: 0;
  flex-grow: 1;
  max-width: 250px;
}

.item-img{
  width:200px;
}
dt {
  font-weight: bold;
}

dl,
dd {
  font-size: .9rem;
}

dd {
  margin-bottom: 1em;
}


